@model BikeRentalSystem.ViewModels.RentalPointDetailViewModel

@{
    ViewData["Title"] = "Create rental point";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Create Rental Point</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="CreateRentalPoint" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="form-label">Name:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="form-label">Address:</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Create Rental Point</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="@Url.Action("Index", "RentalPoint")" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
