@model IEnumerable<BikeRentalSystem.Models.RentalPoint>

@{
    ViewData["Title"] = "Rental points";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Rental points</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var rentalPoint in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text">Name: @rentalPoint.Name</p>
                        <p class="card-text">Address: @rentalPoint.Address</p>
                        <a href="@Url.Action("Details", "RentalPoint", new { id = rentalPoint.Id })" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-12 text-end mt-3">
    <a href="@Url.Action("Create", "RentalPoint")" class="btn btn-primary float-end">Add rental point</a>
</div>