@{
    ViewData["Title"] = "UBB Bike Rental System";
}
@model IEnumerable<BikeRentalSystem.Models.Vehicle>
<div class="container">


    <section id="TitleText">
        <h1 class="text-center">UBB Bike Rental System</h1>
    </section>

    <section id="description">
            <h3 class="text-center desctext">Our rental system allows you to rent various vehicles all over Bielsko-Biała</h3>
            <!-- Gallery -->
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="https://p.turbosquid.com/ts-thumb/A7/Ed2YIb/5k/0preview/jpg/1631874679/600x600/fit_q87/21fb24671593244dc20efde36b346d2b6b983d1a/0preview.jpg"
                         class="w-100 shadow-1-strong rounded mb-4"
                         alt="Boat on Calm Water" />

                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="https://embassybikes.com/1772-home_default/city-bike-baby-powder-28.jpg"
                         class="w-100 shadow-1-strong rounded mb-4"
                         alt="Mountains in the Clouds" />

                
                </div>
                <div class="col-lg-4 col-md-16 mb-4 mb-lg-0">
                <img src="https://proline.pl/pic/mi-electric-scooter-1s_1.jpg"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt="Wintry Mountain Landscape" />
                </div>

            </div>
            <!-- Gallery -->
    </section>
    
</div>